<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <font color="#c00">
        <strong><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</strong><br />
        <% question.errors.full_messages.each do |message| %>
          <%= message %><br />
        <% end %>
      </font>
      <br style="clear: both;">
    </div>
  <% end %>

<section class="f_left">
  <div class="field">
    <strong>Exam</strong>
    <%= select("question", "exam", Exam.all.collect {|p| [ p.name, p.id ] }, {}, :onChange=>"reloadIframe()") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Type</strong>
    <select id="question_q_type" name="question[q_type]">
      <option<% if question.q_type=="checkbox" %> selected<% end %>>checkbox</option>
      <option<% if question.q_type=="radio" %> selected<% end %>>radio</option>
      <option<% if question.q_type=="text" %> selected<% end %>>text</option>
    </select>
  </div>

  <div class="field">
    <%= form.text_area :q_text, id: :question_q_text, :class => "tinymce" %>
  </div>
</section>
<section class="f_right">
  <% if question.exam == nil %>
    <% exam_id = Exam.first.id %>
  <% else %>
    <% exam_id = question.exam %>
  <% end %>
  <iframe id="uploader" class="uploader" src="<%= new_picture_path %>?exam_id=<%= exam_id %>" width="100%"></iframe>
</section>

<hr style="clear: both;" />

<section class="f_left">
  <div class="field">
    <label>Answer 1</label>
    <%= form.text_field :q_answer001, id: :question_q_answer001 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer001_active, id: :question_q_answer001_active %><label for="question_q_answer001_active" class="small">active</label> 
    <%= form.check_box :q_answer001_correct, id: :question_q_answer001_correct %><label for="question_q_answer001_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 2</label>
    <%= form.text_field :q_answer002, id: :question_q_answer002 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer002_active, id: :question_q_answer002_active %><label for="question_q_answer002_active" class="small">active</label> 
    <%= form.check_box :q_answer002_correct, id: :question_q_answer002_correct %><label for="question_q_answer002_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 3</label>
    <%= form.text_field :q_answer003, id: :question_q_answer003 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer003_active, id: :question_q_answer003_active %><label for="question_q_answer003_active" class="small">active</label> 
    <%= form.check_box :q_answer003_correct, id: :question_q_answer003_correct %><label for="question_q_answer003_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 4</label>
    <%= form.text_field :q_answer004, id: :question_q_answer004 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer004_active, id: :question_q_answer004_active %><label for="question_q_answer004_active" class="small">active</label> 
    <%= form.check_box :q_answer004_correct, id: :question_q_answer004_correct %><label for="question_q_answer004_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 5</label>
    <%= form.text_field :q_answer005, id: :question_q_answer005 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer005_active, id: :question_q_answer005_active %><label for="question_q_answer005_active" class="small">active</label> 
    <%= form.check_box :q_answer005_correct, id: :question_q_answer005_correct %><label for="question_q_answer005_correct" class="small">correct</label>
  </div>
</section>
<section class="f_right">
  <div class="field">
    <label>Answer 6</label>
    <%= form.text_field :q_answer006, id: :question_q_answer006 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer006_active, id: :question_q_answer006_active %><label for="question_q_answer006_active" class="small">active</label> 
    <%= form.check_box :q_answer006_correct, id: :question_q_answer006_correct %><label for="question_q_answer006_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 7</label>
    <%= form.text_field :q_answer007, id: :question_q_answer007 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer007_active, id: :question_q_answer007_active %><label for="question_q_answer007_active" class="small">active</label> 
    <%= form.check_box :q_answer007_correct, id: :question_q_answer007_correct %><label for="question_q_answer007_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 8</label>
    <%= form.text_field :q_answer008, id: :question_q_answer008 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer008_active, id: :question_q_answer008_active %><label for="question_q_answer008_active" class="small">active</label> 
    <%= form.check_box :q_answer008_correct, id: :question_q_answer008_correct %><label for="question_q_answer008_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 9</label>
    <%= form.text_field :q_answer009, id: :question_q_answer009 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer009_active, id: :question_q_answer009_active %><label for="question_q_answer009_active" class="small">active</label> 
    <%= form.check_box :q_answer009_correct, id: :question_q_answer009_correct %><label for="question_q_answer009_correct" class="small">correct</label>
  </div>
  <div class="field">
    <label>Answer 10</label>
    <%= form.text_field :q_answer010, id: :question_q_answer010 %>
    <label>&nbsp;</label>
    <%= form.check_box :q_answer010_active, id: :question_q_answer010_active %><label for="question_q_answer010_active" class="small">active</label> 
    <%= form.check_box :q_answer010_correct, id: :question_q_answer010_correct %><label for="question_q_answer010_correct" class="small">correct</label>
  </div>
</section>
<br style="clear: both;" />
  <div class="actions">
  <hr style="clear: both;" />


<% if @question.created_at %>
<section class="f_left">
  <div class="field">
    <label>Created at</label><%= @question.created_at %>
  </div>
</div>
<% end %>
<% if @question.updated_at %>
<section class="f_right">
  <div class="field">
    <label>Last Update</label><%= @question.updated_at %>
  </div>
</section>
  <hr style="clear: both;" />
<% end %>

    <label>&nbsp;</label>
    <%= form.submit %>
  </div>
<% end %>
<script>
  function reloadIframe() {
    var new_id = document.getElementById('question_exam').value;
    document.getElementById('uploader').src = "<%= new_picture_path %>?exam_id=" + new_id;
  }
</script>