<h2>Questions</h2>
</section>
<section id="main">
<table>
  <thead>
    <tr>
      <th><a href="?sort_by=ID"   style="color: #fff">ID</a></th>
      <th><a href="?sort_by=exam" style="color: #fff">Exam</a></th>
      <th><a href="?sort_by=type" style="color: #fff">Type</a></th>
      <th><a href="?sort_by=text" style="color: #fff">Text</a></th>
      <th colspan="3" width="1%"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td align="center"><%= question.id %></td>
        <td><% if Exam.exists?(question.exam) %><%= link_to Exam.find(question.exam).name, Exam.find(question.exam) %><% end %></td>
        <td><%= question.q_type %></td>
        <td><%= link_to strip_tags(question.q_text).truncate(100), question %></td>
        <td align="center"><a href="/questions/<%= question.id %>"><img src="../img/icon_show.png" height="30" title="Show" /></a></td>
        <td align="center"><a href="/questions/<%= question.id %>/edit"><img src="../img/icon_edit.png" height="30" title="Edit" /></a></td>
        <td align="center"><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/questions/<%= question.id %>?exam_id=questions"><img src="../img/icon_error.png" height="30" title="Delete" /></a></td>
      </tr>
    <% end %>
  </tbody>
</table>