<h2>Show Question</h2>
</section>
<section id="main">
<div class="field">
  <label>Exam:</label>
  <%= Exam.find(@question.exam).name %>
</div>

<div class="field">
  <label>Q type:</label>
  <%= @question.q_type %>
</div>

<div class="field">
  <label>Q text:</label>
  <%= @question.q_text %>
</div>

<div class="field">
  <label>Q answer001:</label>
  <%= @question.q_answer001 %>
</div>

<div class="field">
  <label>Q answer001 active:</label>
  <%= @question.q_answer001_active %>
</div>

<div class="field">
  <label>Q answer001 correct:</label>
  <%= @question.q_answer001_correct %>
</div>

<div class="field">
  <label>Q answer002:</label>
  <%= @question.q_answer002 %>
</div>

<div class="field">
  <label>Q answer002 active:</label>
  <%= @question.q_answer002_active %>
</div>

<div class="field">
  <label>Q answer002 correct:</label>
  <%= @question.q_answer002_correct %>
</div>

<div class="field">
  <label>Q answer003:</label>
  <%= @question.q_answer003 %>
</div>

<div class="field">
  <label>Q answer003 active:</label>
  <%= @question.q_answer003_active %>
</div>

<div class="field">
  <label>Q answer003 correct:</label>
  <%= @question.q_answer003_correct %>
</div>

<div class="field">
  <label>Q answer004:</label>
  <%= @question.q_answer004 %>
</div>

<div class="field">
  <label>Q answer004 active:</label>
  <%= @question.q_answer004_active %>
</div>

<div class="field">
  <label>Q answer004 correct:</label>
  <%= @question.q_answer004_correct %>
</div>

<div class="field">
  <label>Q answer005:</label>
  <%= @question.q_answer005 %>
</div>

<div class="field">
  <label>Q answer005 active:</label>
  <%= @question.q_answer005_active %>
</div>

<div class="field">
  <label>Q answer005 correct:</label>
  <%= @question.q_answer005_correct %>
</div>

<div class="field">
  <label>Q answer006:</label>
  <%= @question.q_answer006 %>
</div>

<div class="field">
  <label>Q answer006 active:</label>
  <%= @question.q_answer006_active %>
</div>

<div class="field">
  <label>Q answer006 correct:</label>
  <%= @question.q_answer006_correct %>
</div>

<div class="field">
  <label>Q answer007:</label>
  <%= @question.q_answer007 %>
</div>

<div class="field">
  <label>Q answer007 active:</label>
  <%= @question.q_answer007_active %>
</div>

<div class="field">
  <label>Q answer007 correct:</label>
  <%= @question.q_answer007_correct %>
</div>

<div class="field">
  <label>Q answer008:</label>
  <%= @question.q_answer008 %>
</div>

<div class="field">
  <label>Q answer008 active:</label>
  <%= @question.q_answer008_active %>
</div>

<div class="field">
  <label>Q answer008 correct:</label>
  <%= @question.q_answer008_correct %>
</div>

<div class="field">
  <label>Q answer009:</label>
  <%= @question.q_answer009 %>
</div>

<div class="field">
  <label>Q answer009 active:</label>
  <%= @question.q_answer009_active %>
</div>

<div class="field">
  <label>Q answer009 correct:</label>
  <%= @question.q_answer009_correct %>
</div>

<div class="field">
  <label>Q answer010:</label>
  <%= @question.q_answer010 %>
</div>

<div class="field">
  <label>Q answer010 active:</label>
  <%= @question.q_answer010_active %>
</div>

<div class="field">
  <label>Q answer010 correct:</label>
  <%= @question.q_answer010_correct %>
</div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
