<h2>Show Question #<%= @question.id %> (<%= Exam.find(@question.exam).name %>)</h2>
</section>
<section id="main">
  <section class="question">
    <form>
      <fieldset>
        <legend>Question <%= @question.id %></legend>
        <span class="q_text">
        <%= @question.q_text.html_safe %>
        </span>
        <%
        x = 0
        options=[]
        if @question.q_answer001_active
          options[x] = @question.q_answer001
          x += 1
        end
        if @question.q_answer002_active
          options[x] = @question.q_answer002
          x += 1
        end
        if @question.q_answer003_active
          options[x] = @question.q_answer003
          x += 1
        end
        if @question.q_answer004_active
          options[x] = @question.q_answer004
          x += 1
        end
        if @question.q_answer005_active
          options[x] = @question.q_answer005
          x += 1
        end
        if @question.q_answer006_active
          options[x] = @question.q_answer006
          x += 1
        end
        if @question.q_answer007_active
          options[x] = @question.q_answer007
          x += 1
        end
        if @question.q_answer008_active
          options[x] = @question.q_answer008
          x += 1
        end
        if @question.q_answer009_active
          options[x] = @question.q_answer009
          x += 1
        end
        if @question.q_answer010_active
          options[x] = @question.q_answer010
          x += 1
        end
        %>
        <ul class="options">
          <% options.each_with_index do |option, index| %>
          <li>
            <input type="<%= @question.q_type %>" id="00<%= index %>" name="question1"<% if @question.q_type == "text" %> value="<%= @question.q_answer001 %>"<% end %> />
            <% if @question.q_type != "text" %>
            <label for="00<%= index %>">
              <span class="text">
                <%= option %>
              </span>
            </label>
            <% end %>
          </li>
          <% end %>
        </ul>
      </fieldset>
    </form>
  </section>
<a class="center" href="<%= edit_question_path(@question) %>"><button>Edit</button></a>