<%= form_with(model: user, local: true) do |form| %>
<fieldset>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <font color="#c00">
        <strong><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</strong><br />
        <% user.errors.full_messages.each do |message| %>
          <%= message %><br />
        <% end %>
      </font>
      <br style="clear: both;">
    </div>
  <% end %>

  <div class="field">
    <label for="user_name">Name:</label>
    <%= form.text_field :name, id: :user_name, autofocus: true %>
  </div>

  <div class="field">
    <label for="user_email">Email:</label>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <label for="user_password">Password:</label>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <label for="user_password_confirmation">Confirm PW:</label>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

<% if current_user && current_user.role == "admin" %>
  <div class="field">
    <label>Role:</label>
    <select id="user_role" name="user[role]">
      <option value="student">student</option>
      <option value="admin"<% if (@user != nil && @user.id == current_user.id) %><% if current_user.role == "admin" %> selected<% end %><% end %>>admin</option>
    </select>
  </div>
<% end %>
</fieldset>
  <div class="actions"<% if !current_user %>style="margin-bottom: 10px !important"<% end %>>
    <a class="center"><%= form.submit %></a>
  </div>
<% end %>
