<h2>Show User</h2>
</section>
<section id="main">
	<div class="field">
	  <label>Name:</label>
	  <%= @user.name %>
	</div>

	<div class="field">
	  <label>Email:</label>
	  <%= @user.email %>
	</div>

	<label>&nbsp;</label><a href="<%= edit_user_path(@user) %>"><button>Edit</button></a>
	<br style="clear: both;" />

	<% result = @results.last %>
	<label>&nbsp;</label>
	<table id="latest_results" align="left">
		<tr>
			<th colspan="2">Latest Result</th>
		</tr>
		<tr>
			<td align="right"><strong>Exam:</strong></td><td><%= Exam.find(result.exam_id).name %></td>
		</tr>
		<tr>
			<td align="right"><strong>Description:</strong></td><td><%= Exam.find(result.exam_id).description %></td>
		</tr>
		<tr>
			<td align="right"><strong>Questions:</strong></td><td><%= result.questions %></td>
		</tr>
		<tr>
			<td align="right"><strong>Result:</strong></td><td><%= result.result%>%</td>
		</tr>
		<tr>
			<td align="right"><strong>Time:</strong></td><td><%= result.time %></td>
		</tr>
		<tr>
			<td align="right" valign="top"><strong>Settings:</strong></td>
			<td>
				<ul style="margin: 0; padding:0 0 0 20px">
			<% if result.settings.include?('Q') %><li>Shuffle Questions</li><% end %>
			<% if result.settings.include?('A') %><li>Shuffle Answers</li><% end %>
			<% if result.settings.include?('H') %><li>Hint Button</li><% end %>
			<% if result.settings.include?('C') %><li>Check Button</li><% end %>
			<% if result.settings.include?('T') %><li>Timer</li><% end %>
			<% if result.settings.include?('N') %><li>Navigation</li><% end %>
				</ul>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Date:</strong></td><td><%= result.created_at.to_s.split(' ')[0] %></td>
		</tr>
		<tr>
			<td align="right"><strong>Time:</strong></td><td><%= result.created_at.to_s.split(' ')[1] %></td>
		</tr>
	</table>