<h2>Results</h2>
</section>
<section id="main">
<table>
  <thead>
    <tr>
      <th width="200"><a href="?sort_by=user_id" style="color: #fff">User</a></th>
      <th width="200"><a href="?sort_by=exam_id" style="color: #fff">Exam</a></th>
      <th>Settings</th>
      <th>Questions</th>
      <th>Exam Time</th>
      <th>Result</th>
      <th><a href="?sort_by=date" style="color: #fff">Date</a></th>
      <th>Time</th>
      <th colspan="2" width="1%"></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= link_to User.find(result.user_id).name, User.find(result.user_id) %></td>
        <td><% if Exam.exists?(result.exam_id) %><%= link_to Exam.find(result.exam_id).name, Exam.find(result.exam_id) %><% end %></td>
        <td align="center"><%= result.settings %></td>
        <td align="center"><%= result.questions %></td>
        <td align="center"><%= result.time %></td>
        <td align="center"><%= result.result %>%</td>
        <td align="center"><%= result.created_at.to_s.split(' ')[0] %></td>
        <td align="center"><%= result.created_at.to_s.split(' ')[1] %></td>
        <td align="center"><a href="/results/<%= result.id %>"><img src="../img/icon_show.png" height="30" title="Show" /></a></td>
        <td align="center"><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/results/<%= result.id %>"><img src="../img/icon_error.png" height="30" title="Delete" /></a></td>
      </tr>
    <% end %>
  </tbody>
</table>