<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @result.exam_id %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @result.settings %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @result.questions %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
