<h2>Show Result #<%= @result.id %></h2>
</section>
<section id="main">
<div class="field">
  <label>User:</label>
  <%= @result.user_id %>
</div>

<div class="field">
  <label>Exam:</label>
  <%= @result.exam_id %>
</div>

<div class="field">
  <label>Settings:</label>
  <%= @result.settings %>
</div>

<div class="field">
  <label>Questions:</label>
  <%= @result.questions %>
</div>

<div class="field">
  <label>Time:</label>
  <%= @result.time %>
</div>

<div class="field">
  <label>Result:</label>
  <%= @result.result %>
</div>

<a class="center" href="<%= results_path %>"><button>Back</button></a>