<%= form_with(model: picture, local: true) do |form| %>
  <div class="field"<% if @select_exam != true %> style="display: none;"<% end %>>
    <label for="exam" style="color: #fff">Exam</label>
  <% if @select_exam != true %>
    <%= form.text_field :exam, id: :picture_exam, value: params[:exam_id] %>
  <% end %>
  <% if @select_exam == true %>
    <%= select("picture", "exam", Exam.all.collect {|p| [ p.name, p.id ] }, {}) %>
  <% end %>
  </div>
<% if @select_exam == true %>
  <div class="field">
    <label>&nbsp;</label>
    <img src="<%= picture.image %>" style="border: 1px solid #000" />
  </div>
<% end %>
<% if @select_exam != true %>
  <div class="field images">
    <% exam_id = params[:exam_id] %>
    <% Picture.where(exam: exam_id).each_with_index do |picture,index| %>
    <img src="<%= picture.image %>" alt="<%= picture.image.to_s.split('/').last %>" title="<%= picture.image.to_s.split('/').last %>" width="325" />
    <% if index > 1 %><br style="clear: both;" /><% index = 0 %><% end %>
    <% end %>
  </div>
<% end %>
  <% if @select_exam != true %>
  <div class="field">
    <%= form.file_field :image, id: :picture_image, :onchange => "toggleButton()" %><span id="upload_button" class="invisible"><%= form.submit 'Upload' %></span>
  </div>
  <% else %>
  <div class="actions">
    <a class="center"><%= form.submit %></a>
  </div>
  <% end %>
<% end %>
<script>
    function toggleButton() {
      document.getElementById('upload_button').classList.remove('invisible');
    }
</script>