<h2>Images</h2>
</section>
<section id="main">

<table>
  <thead>
    <tr>
      <th width="25%"><a href="?sort_by=name" style="color: #fff">Image</a></th>
      <th width="6%">Type</th>
      <th width="15%"><a href="?sort_by=name" style="color: #fff">Exam</a></th>
      <th width="5%">Date</th>
      <th width="5%">Time</th>
      <th width="1%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= picture.image.to_s.split('/').last.split('.').first %></td>
        <td align="center" width="75"><%= picture.image.to_s.split('.').last %></td>
        <td><% if Exam.exists?(picture.exam) %><% if Exam.where(id: picture.exam).count > 0 %><%= Exam.find(picture.exam).name %><% else %><i>none</i><% end %><% end %></td>
          <td align="center"><%= picture.created_at.to_s.split(' ')[0] %></td>
          <td align="center"><%= picture.created_at.to_s.split(' ')[1] %></td>
        <td align="center"><a href="/pictures/<%= picture.id %>"><img src="../img/icon_show.png" height="30" title="Show" /></a></td>
        <td align="center"><a href="/pictures/<%= picture.id %>/edit"><img src="../img/icon_edit.png" height="30" title="Edit" /></a></td>
        <td align="center"><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pictures/<%= picture.id %>"><img src="../img/icon_error.png" height="30" title="Delete" /></a></td>
      </tr>
    <% end %>
  </tbody>
</table>