<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :exam_name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :exam_description %>
  </div>

<% if @questions %>
  <div class="field">
    <%= form.label :questions %>
    <%= form.number_field :questions, in: 1..@questions, id: :exam_questions %>
  </div>
<% end %>

  <div class="actions">
    <label>&nbsp;</label>
    <table border="0" cellpadding="0" cellspacing="0" style="background: none; border: none; float: left; width: 500px !important; ">
      <tr>
        <td width="100">
          <%= form.check_box :shuffle_questions, id: :shuffle_questions %>
          <label class="small" for="shuffle_questions">Shuffle Questions</label>
        </td>
        <td width="100">
          <%= form.check_box :shuffle_answers, id: :shuffle_answers %>
          <label class="small" for="shuffle_answers">Shuffle Answers</label>
        </td>
      </tr>
      <tr>
        <td width="100">
          <%= form.check_box :hints, id: :exam_hints %>
          <label class="small" for="exam_hints">Hints</label>
        </td>
        <td width="100">
          <%= form.check_box :checks, id: :exam_checks %>
          <label class="small" for="exam_checks">Checks</label>
        </td>
      </tr>
      <tr>
        <td width="100">
          <%= form.check_box :timer, id: :exam_timer %>
          <label class="small" for="exam_timer">Timer</label>
        </td>
        <td width="100">
          <%= form.check_box :navigation, id: :exam_navigation %>
          <label class="small" for="exam_navigation">Navigation</label>
        </td>
      </tr>
    </table>
  </div>

  <br style="clear: both;" />
  <br style="clear: both;" />

  <div class="actions">
    <label>&nbsp;</label>
    <%= form.submit %>
  </div>
<% end %>