<h2>Exams</h2>
</section>
<section id="main">
  <% if current_user.role == "admin" %><a class="center" href="<%=new_exam_path %>"><button>New Exam</button></a><% end %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Questions</th>
        <th>Shuffle Q.</th>
        <th>Shuffle A.</th>
        <th>Hints</th>
        <th>Checks</th>
        <th>Timer</th>
        <th>Navigation</th>
        <th colspan="<% if current_user.role == "admin" %>5<% else %>2<% end %>" width="1%"></th>
      </tr>
    </thead>

    <tbody>
      <% @exams.each do |exam|
        path = ""
        if exam.shuffle_questions
            file_shuffle_questions = "Q"
        else
            file_shuffle_questions = ""
        end
        if exam.shuffle_answers
            file_shuffle_answers = "A"
        else
            file_shuffle_answers = ""
        end
        if exam.hints
            file_hints = "H"
        else
            file_hints = ""
        end
        if exam.checks
            file_checks = "C"
        else
            file_checks = ""
        end
        if exam.timer
            file_timer = "T"
        else
            file_timer = ""
        end
        if exam.navigation
            file_navigation = "N"
        else
            file_navigation = ""
        end
        zipfile_name = 'public/' + exam.name.to_s + "_" + exam.id.to_s + "_" + file_shuffle_questions + file_shuffle_answers + file_hints + file_checks + file_timer + file_navigation + ".zip"
        if File.exist?(zipfile_name)
          path = zipfile_name.gsub('public/', '')
        end
      %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td><%= exam.name %></td>
          <td><%= exam.description.truncate(35) %></td>
          <td align="center"><% if Question.where(:exam => exam.id).size > 0 %><%= exam.questions %> / <%= Question.where(:exam => exam.id).size %><% else %><strong><font color="red">NONE YET!</font></strong><% end %></td>
          <td align="center"><% if exam.shuffle_questions %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td align="center"><% if exam.shuffle_answers %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td align="center"><% if exam.hints %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td align="center"><% if exam.checks %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td align="center"><% if exam.timer %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td align="center"><% if exam.navigation %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
          <td><a href="/exams/<%= exam.id %>"><img src="../img/<% if current_user.role == "admin" %>icon_show<% else %>icon_test<% end %>.png" height="30" title="<% if current_user.role == "admin" %>Show<% else %>Take Test<% end %>" /></a></td>
          <% if current_user.role == "admin" %><td><a href="/exams/<%= exam.id %>/edit"><img src="../img/icon_edit.png" height="30" title="Edit Settings" /></a></td><% end %>
          <td><a href="/exams/<%= exam.id %>?generate=<%= exam.id %>"><img src="../img/icon_test.png" height="30" title="Generate File" /></a></td>
          <td width="30"><% if path != "" %><a href="<%= path %>"><img src="../img/icon_save.png" height="30" title="Download File" /></a><% else %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></td>
          <% if current_user.role == "admin" %><td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/exams/<%= exam.id %>" title="Delete Exam"><img src="../img/icon_error.png" height="30" /></a></td><% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.role == "admin" %><a class="center" href="<%=new_exam_path %>"><button>New Exam</button></a><% end %>