        <h2><%= @exam.name %></h2>
        <br style="clear: both;">
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
                <li id="carousel__slide0" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper">
                        <section class="question">
                            <h3 class="h3"><%= @exam.description %></h3>
                            <table align="center" id="overview">
                                <tr>
                                    <td><strong>Questions</strong></td><td align="center"><strong><%= @exam.questions %> / <%= Question.where(:exam => @exam.id).size %></strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Shuffle Questions</strong></td><td align="center"><% if @exam.shuffle_questions %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                                <tr>
                                    <td><strong>Shuffle Answers</strong></td><td align="center"><% if @exam.shuffle_answers %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                                <tr>
                                    <td><strong>Hints</strong></td><td align="center"><% if @exam.hints %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                                <tr>
                                    <td><strong>Checks</strong></td><td align="center"><% if @exam.checks %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                                <tr>
                                    <td><strong>Timer</strong></td><td align="center"><% if @exam.timer %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                                <tr>
                                    <td><strong>Navigation</strong></td><td align="center"><% if @exam.navigation %><img src="../img/icon_correct.png" height="30" /><% else %><img src="../img/icon_incorrect.png" height="30" /><% end %></td>
                                </tr>
                            </table>
                            <br style="clear: both;" />
                            <a id="toggle" class="center pushdown margindown begin" href="#carousel__slide1">Begin Exam</a>
                            <br style="clear: both;" />
                            <br style="clear: both;" />
                        </section>
                    </div>
                </li>
            	<% x = 0 %>
            	<% @questions.each_with_index do |question, index| %>
                <li id="carousel__slide<%= index + 1 %>" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper">
                        <% if index > 0 %><a onclick="toggleActive('navbutton_<%= index %>')" href="#carousel__slide<%= index %>" class="button left"><img height="30" style="float:left;" src="../img/icon_left.png" title="previous" /><span class="buttontext">PREVIOUS</span></a><% end %>
                        <% if index + 1 < @questions.size %><a onclick="toggleActive('navbutton_<%= index + 2 %>')" href="#carousel__slide<%= index + 2 %>" class="button right"><span class="buttontext">NEXT</span><img height="30" style="float:right;" src="../img/icon_right.png" title="next" /></a><% end %>
                        <br style="clear: both;" />
						<section class="question">
                            <form>
                                <fieldset>
                                    <legend>Question <%= index + 1 %> / <%= @exam.questions %></legend>
                                    <span class="q_text">
                                    	<% question.q_text = question.q_text.gsub('[', '<').gsub(']', '>') %>
                                    	<%= question.q_text.html_safe %>
                                    </span> <%
                                    options=[]
                                    correct=[]
                                    options.clear
                                    correct.clear
                                    if @exam.shuffle_answers
                                        options = options.shuffle
                                    end
                                    
									if question.q_answer001_correct
                                    	correct[x] = question.q_answer001
                                    end
                                    if question.q_answer001_active
                                    	options[x] = question.q_answer001
                                    	x += 1
                                    end
									if question.q_answer002_correct
                                    	correct[x] = question.q_answer002
                                    end
                                    if question.q_answer002_active
                                    	options[x] = question.q_answer002
                                    	x += 1
                                    end
									if question.q_answer003_correct
                                    	correct[x] = question.q_answer003
                                    end
                                    if question.q_answer003_active
                                    	options[x] = question.q_answer003
                                    	x += 1
                                    end
									if question.q_answer004_correct
                                    	correct[x] = question.q_answer004
                                    end
                                    if question.q_answer004_active
                                    	options[x] = question.q_answer004
                                    	x += 1
                                    end
									if question.q_answer005_correct
                                    	correct[x] = question.q_answer005
                                    end
                                    if question.q_answer005_active
                                    	options[x] = question.q_answer005
                                    	x += 1
                                    end
									if question.q_answer006_correct
                                    	correct[x] = question.q_answer006
                                    end
                                    if question.q_answer006_active
                                    	options[x] = question.q_answer006
                                    	x += 1
                                    end
									if question.q_answer007_correct
                                    	correct[x] = question.q_answer007
                                    end
                                    if question.q_answer007_active
                                    	options[x] = question.q_answer007
                                    	x += 1
                                    end
									if question.q_answer008_correct
                                    	correct[x] = question.q_answer008
                                    end
                                    if question.q_answer008_active
                                    	options[x] = question.q_answer008
                                    	x += 1
                                    end
									if question.q_answer009_correct
                                    	correct[x] = question.q_answer009
                                    end
                                    if question.q_answer009_active
                                    	options[x] = question.q_answer009
                                    	x += 1
                                    end
									if question.q_answer010_correct
                                    	correct[x] = question.q_answer010
                                    end
                                    if question.q_answer010_active
                                    	options[x] = question.q_answer010
                                    	x += 1
                                    end
                                    %>
                                    <ul class="options">
                                    <% options.each_with_index do |option, index| %>
                                        <% if option != nil %>
                                        <li>
                                            <input type="<%= question.q_type %>" id="00<%= x + index %>" name="question<%= x %>" />
                                            <% if question.q_type != "text" %>
                                            <label for="00<%= x + index %>">
                                            	<span class="text"<% if options[index] == correct[index] %> id="hint_0<%= x + index %>"<% end %>>
                                            		<%= option %>
                                            	</span>
                                            </label>
                                            <% end %>
                                        </li>
                                        <% end %>
                                    <% end %>
                                    </ul>
                                </fieldset>
                                <% if @exam.checks %><a href="#" class="button" onclick="checkQuestion<%= index + 1 %>()"><img style="float:left;" height="30" src="../img/icon_check.png" title="check" /><span class="buttontext">CHECK</span></a><% end %>
                                <span id="Q<%= index + 1 %>_info"></span>
                                <% if @exam.hints %><a href="#" class="button right pushright" id="hintbutton_<%= index + 1 %>" onclick="hintQuestion<%= index + 1 %>()"><span class="buttontext">HINT</span><img id="hint_icon<%= index + 1 %>" style="float:right;" height="30" src="../img/icon_hint_inactive.png" title="hint" /></a><% end %>
                                <% if index + 1 == @questions.size %><a id="finish_button" class="center pushdown margindown finish" onclick="<% if !(@exam.navigation && @exam.timer) %>document.getElementsByClassName('carousel__navigation')[0].classList.toggle('invisible');<% end %><% if @exam.timer %>stopTimer();<% end %>finish_exam();" href="#carousel__slide1000">FINISH</a><% end %>
                                    <br style="clear: both;" />
                            </form>
                            <script>
                            <% if question.q_type == "checkbox" || question.q_type == "radio" %>
                                function checkQuestion<%= index + 1 %>() {
                                  var Q<%= index + 1 %>_info = document.getElementById("Q<%= index + 1 %>_info");

                                  if (
	                              <% options.each_with_index do |option, index| %>
	                                  <% if options[index] == correct[index] %>
	                                  	<% if option != nil %>
	                                  	document.getElementById("00<%= x + index %>").checked == true<% if index + 1 < correct.length %> &&<% end %>
	                                    <% end %>
	                                  <% end %>
	                              <% end %>
	                              ) {
	                                    Q<%= index + 1 %>_info.innerHTML = '<img style="float:left;" height="30" src="../img/icon_correct.png" /><span class="buttontext">CORRECT!</span>';
	                                    Q<%= index + 1 %>_info.className = "correct";
                                        Q<%= index + 1 %>_result = "correct"
                                  } else {
	                                    Q<%= index + 1 %>_info.innerHTML = '<img style="float:left;" height="30" src="../img/icon_incorrect.png" /><span class="buttontext">FALSE!</span>';
	                                    Q<%= index + 1 %>_info.className = "false";
                                        Q<%= index + 1 %>_result = "false"
                                  }
                                <% if question.q_type == "checkbox" %>
                                <% newindex = 0 %>
                                <% incorrect = options.compact.count - correct.compact.count %>
                                  if ( 
	                              <% options.each_with_index do |option, index| %>
	                                  <% if options[index] != correct[index] %>
                                        <% newindex += 1 %>
	                                  	document.getElementById("00<%= x + index %>").checked == true<% if newindex < incorrect %> ||<% end %>
	                                  <% end %>
	                              <% end %>
	                              ) {
	                                    Q<%= index + 1 %>_info.innerHTML = '<img style="float:left;" height="30" src="../img/icon_incorrect.png" /><span class="buttontext">FALSE!</span>';
	                                    Q<%= index + 1 %>_info.className = "false";
                                        Q<%= index + 1 %>_result = "false"
	                              }
                                <% end %>
                                }
                                function hintQuestion<%= index + 1 %>() {
                                    var hint_icon = document.getElementById("hint_icon<%= index + 1 %>");
                                    hint_icon.classList.toggle("is_active");
                                    if (hint_icon.classList.contains("is_active")) {hint_icon.src='../img/icon_hint_active.png'} else {hint_icon.src='../img/icon_hint_inactive.png'}
	                                <% options.each_with_index do |option, index| %>
	                                  <% if options[index] == correct[index] %>
	                                  	<% if option != nil %>
	                                  	document.getElementById("hint_0<%= x + index %>").classList.toggle("hint");
	                                    <% end %>
	                                  <% end %>
	                                <% end %>
                                }
                             <% else %>
                             function checkQuestion<%= index + 1 %>() {
                             	if (document.getElementsByName("question<%= x %>")[0].value == "<%= question.q_answer001 %>"){
	                                    Q<%= index + 1 %>_info.innerHTML = '<img style="float:left;" height="30" src="../img/icon_correct.png" /><span class="buttontext">CORRECT!</span>';
	                                    Q<%= index + 1 %>_info.className = "correct";
                                        Q<%= index + 1 %>_result = "correct"
                                  } else {
	                                    Q<%= index + 1 %>_info.innerHTML = '<img style="float:left;" height="30" src="../img/icon_incorrect.png" /><span class="buttontext">FALSE!</span>';
	                                    Q<%= index + 1 %>_info.className = "false";
                                        Q<%= index + 1 %>_result = "false"
                                  }
                             }
                             function hintQuestion<%= index + 1 %>() {
                             	document.getElementsByName("question<%= x %>")[0].value = "<%= question.q_answer001 %>"
                             }
	                        <% end %>
                            </script>
                        </section>
                    </div>
                </li>
            	<% end %>
                <li id="carousel__slide1000" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper">
                        <section class="question">
                            <h3 class="h3">Result: <span id="percent">0</span>%<% if @exam.timer %> in <span id="resulttime"></span><% end %></h3>
                            <table align="center">
                                <tr>
                                    <th align="center">#</th>
                                    <th align="center">Question</th>
                                    <th>Result</th>
                                </tr>
                                <% @questions.each_with_index do |question, index| %>
                                <tr class="<%= cycle('even', 'odd') -%>" valign="center">
                                    <td align="center">
                                        <strong>#<%= index + 1 %></strong>
                                    </td>
                                    <td align="left">
                                        <a onclick="document.getElementsByClassName('carousel__navigation')[0].classList.toggle('invisible');" href="#carousel__slide<%= index + 1 %>"><%= strip_tags(question.q_text.html_safe.truncate(70)) %></a>
                                    </td>
                                    <td class="result<%= index + 1 %>" align="center"></td>
                                </tr>
                                <% end %>
                            </table>
                            <a style="display: block; float: none; width: 250px; text-align: center; margin: 25px auto" class="button" id="save_result" href="#">SAVE RESULT</a>
                        </section>
                    </div>
                </li>
            </ol>
            <aside class="carousel__navigation invisible">
                <% if @exam.navigation %>
                <div id="q_nav">
                    <ol class="carousel__navigation-list">
                    	<% @questions.each_with_index do |question, index| %>
                        <li class="carousel__navigation-item">
                            <a onclick="toggleActive('navbutton_<%= index + 1 %>')" id="navbutton_<%= index + 1 %>" class="nav_button<% if index == 0 %> active<% end %>" href="#carousel__slide<%= index + 1 %>">Q<%= index + 1 %></a>
                        </li>
                        <% end %>
                    </ol>
                </div>
                <% end %>
                <% if @exam.timer %>
                <div id="time_container" class="invisible">
                <fieldset>
                    <legend>Timer</legend>
                    <h5><time>00:00:00</time></h5>
                </fieldset>
                </div>
                <% end %>
                <a class="button" id="showresults" href="#carousel__slide1000" onclick="<% if !(@exam.navigation && @exam.timer) %>document.getElementsByClassName('carousel__navigation')[0].classList.toggle('invisible');<% end %>finish_exam();<% if @exam.timer %>stopTimer()<% end %>">RESULTS</a>
            </aside>
        </section>
        <script>
            function toggleActive(toggle_id) {
                var nav_buttons = document.getElementsByClassName("nav_button");
                for (var i = 0; i < nav_buttons.length; i++) {
                    nav_buttons[i].classList.remove("active");
                }
                var toggle_active = document.getElementById(toggle_id);
                toggle_active.classList.toggle("active");
            }
        </script>
        <script>
            if (document.fullscreenEnabled) {
                var btn = document.getElementById("toggle");
                var nav = document.getElementsByClassName("invisible")[0];
                btn.addEventListener("click", function (event) {
                    nav.classList.toggle("invisible");
                    if (!document.fullscreenElement) {
                        document.documentElement.requestFullscreen();
                    } else {
                        document.exitFullscreen();
                    }
                }, false);
                document.addEventListener("fullscreenchange", function (event) {
                    console.log(event);
                });
                document.addEventListener("fullscreenerror", function (event) {
                    console.log(event);
                });
            }

            finished = "false";

            function finish_exam() {
                correct = 0;
                incorrect = 0;
                percent = 0;
                icon_correct = '<img src="../img/icon_correct.png" height="30" />';
                icon_incorrect = '<img src="../img/icon_incorrect.png" height="30" />';
                icon = '';

                <% @questions.each_with_index do |question, index| %>
                checkQuestion<%= index + 1 %>();
                hintQuestion<%= index + 1 %>();

                var cell<%= index + 1 %> = document.getElementsByClassName("result<%= index + 1 %>")[0];

                if (Q<%= index + 1 %>_result == "correct") {correct+=1; icon = icon_correct}
                if (Q<%= index + 1 %>_result == "false") {incorrect+=1; icon = icon_incorrect}

                if (finished == "false") {
                    cell<%= index + 1 %>.innerHTML = icon;
                }

                <% end %>
                if (finished == "false") {
                    percent = ((correct / (correct + incorrect)) * 100).toFixed(2);
                    finished = "true";
                }

                if (finished == "true" && percent != 0) {
                    var result = document.getElementById("percent");
                    result.innerHTML = percent;
                }

                <% if @exam.navigation %>
                var nav = document.getElementsByClassName("carousel__navigation")[0];
                nav.classList.toggle("invisible");
                <% end %>
                document.getElementById("finish_button").classList.add("invisible");
                var user_id = <%= current_user.id %>;
                var exam_id = <%= @exam.id %>;
                var exam_settings = '<% if @exam.shuffle_questions %>Q<% end %><% if @exam.shuffle_questions %>A<% end %><% if @exam.shuffle_questions %>H<% end %><% if @exam.shuffle_questions %>C<% end %><% if @exam.shuffle_questions %>T<% end %><% if @exam.shuffle_questions %>N<% end %>';
                var exam_questions = <%= @questions.count %>;
                var exam_result = percent;
                var result_path = '<%= new_result_path %>' + '?user_id=' + user_id + '&exam_id=' + exam_id + '&exam_settings=' + exam_settings + '&exam_questions=' + exam_questions + '&exam_result=' + exam_result + '&exam_time=' + exam_time;
                var result_link = document.getElementById('save_result');
                result_link.href = result_path;
            }
        </script>
        <% if @exam.timer %>
        <script>
            var h5 = document.getElementsByTagName('h5')[0],
                stop = document.getElementById('stop'),
                clear = document.getElementById('toggle'),
                seconds = 0, minutes = 0, hours = 0,
                t;
            function add() {
                seconds++;
                if (seconds >= 60) {
                    seconds = 0;
                    minutes++;
                    if (minutes >= 60) {
                        minutes = 0;
                        hours++;
                    }
                }
                h5.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
                exam_time = h5.textContent;
                timer();
            }
            function timer() {
                t = setTimeout(add, 1000);
            }
            timer();
            /* Start button */
            /* Stop button */
            function stopTimer() {
                clearTimeout(t);
                resulttime = document.getElementById('resulttime');
                resulttime.innerHTML = h5.textContent;
            }
            /* Clear button */
            clear.onclick = function() {
                time_container = document.getElementById('time_container');
                q_nav = document.getElementById('q_nav');
                time_container.classList.remove("invisible");
                q_nav.classList.remove("invisible");
                h5.textContent = "00:00:00";
                seconds = 0; minutes = 0; hours = 0;
            }
        </script>
        <% end %>