<!DOCTYPE html>
<html>
  <head>
    <title>Testsuite</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/testsuite.css" />
    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section id="head">
    <h1>Testsuite</h1>
    <nav>
      <%= link_to 'Home', root_url %>
    <% if current_user %>
      <%= link_to 'Exams', exams_url %>
      <%= link_to 'Questions', questions_url %>
      <%= link_to 'Users', users_url %>
      <%= link_to 'Images', pictures_url %>
    <% end %>
	<% if !current_user %>
	  <%= link_to "Sign Up", signup_path %>
	  <%= link_to "Log In", login_path %>
	<% end %>
    </nav>
    <br style="clear: both;" />
    <%= yield %>
  </section>
    <br style="clear: both;" />
  <footer>
    <% if current_user %>
    Logged in as <%= link_to current_user.name, current_user %>. | <%= link_to 'Log out', logout_path %>
    <% end %>
  </footer>
  </body>
</html>